/* ========RESET/FONT======== */

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  /* font-size: 48px; */
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  /* text-align: left; */
  cursor: default;
}

/* ========VARIABLES======== */

:root {
  --header-color: #7aa2be;
  --button-color: #5d8fbe;
  --border-color: #7a7a7a;
  --table-header-color: #fff;
  --table-header-bg-color: #e6e6e6;
  --button-bg-color: #e2e2e2;
  --button-bg-color-hover: #555555;
  --button-text-color: #ffffff;
  --present-color: #028e10;
  --absent-color: #f00020;
  --present-action-color: #71d47b;
  --absent-action-color: #facd04;
  --cam-bg-color: #c4c4c4;
}

/* ========GLOBAL======== */

#content {
  display: flex;
  flex-direction: column;
}

#header {
  height: 12vh;
  width: 100%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
  /* border-bottom: var(--border-color) 2px solid; */
}

#header #LogoutButton {
  position: absolute;
  right: 30px;
}

#header #LogoutButton:hover {
  cursor: pointer;
  filter: invert();
}

#header #Logo {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

#header #Title {
  color: white;
}

/* ========LOGIN======== */

#LoginMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

#LoginMain #OfficeLoginButton {
  color: var(--button-color);
  width: 55vw;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;

  background-color: var(--button-bg-color);
  border-radius: 100px;

  text-align: center;

  width: 500px;
  height: 70px;
}

#LoginMain #OfficeLoginButton:hover {
  cursor: pointer;
  background-color: var(--button-bg-color-hover);
  color: var(--button-bg-color);
}

#LoginMain #OfficeLoginButton:horizontal {
  cursor: pointer;
}

/* ========PEDAGO======== */

#PedagoMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

#PedagoMain #QRcode {
  height: 60vh;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

#PedagoMain #Promos {
  margin-top: 3%;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: flex-start;
}

#PedagoMain #Promos button {
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 10px;
  font-size: 28px;
  width: 18%;
  text-align: center;
  margin-top: 1%;
}

#PedagoMain #Promos button:hover {
  cursor: pointer;
}

#PedagoMain #Promos #active {
  color: var(--button-text-color);
  background-color: var(--button-color);
}

#Students {
  margin-top: 1%;
  width: 80%;
  /* border: 1px solid black; */
}

#Students thead {
  height: 20px;
}

#Students thead tr th {
  background-color: var(--table-header-bg-color);
  color: var(--table-header-color);
  font-size: 35px;
  text-align: center;
}

#Students tbody tr td {
  color: var(--table-color);
  font-size: 25px;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

#Students tbody tr #pre {
  color: var(--present-color);
}

#Students tbody tr #abs {
  color: var(--absent-color);
}

#Students tbody tr td button {
  text-align: center;
  width: 75%;
  border-radius: 10px;
  color: white;
  background-color: var(--button-color);
  font-size: 26px;
  cursor: pointer;
  box-shadow: 6px 6px rgba(139, 139, 139, 0.192);
}

#Students tbody tr td button:active {
  position: relative;
  box-shadow: 0px 0px;
  left: 6px;
  top: 6px;
}

#Students tbody tr td .toAbsent {
  background-color: var(--absent-action-color);
}

.activeButtonToAbsent {
  height: 28px;
  position: relative;
  top: 5px;
}

.activeButtonToPresent {
  height: 28px;
  position: relative;
  top: 5px;
  left: 5px;
}

#Students tbody tr td .toPresent {
  background-color: var(--present-action-color);
}

/* ========Student======== */

#StudentMain #Cam {
  width: 90vw;
  height: 60vh;
  background-color: var(--cam-bg-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#StudentMain #Days {
  background-color: var(--table-header-bg-color);
  margin-left: auto;
  margin-right: auto;
  color: var(--button-color);
  font-size: 20px;
  width: 90vw;
  margin-top: 8vh;
}

#StudentMain #Days tbody tr {
  text-align: center;
}

#StudentMain #Days tbody tr td {
  border-top: var(--table-color) 2px solid;
}

#StudentMain #Days tbody tr:first-child td {
  border-top: 0;
}

#Days tbody tr td #pre {
  color: var(--present-color);
  font-size: 15px;
  position: relative;
  bottom: 30px;
  height: 25px;
}

#Days tbody tr td #abs {
  color: var(--absent-color);
  font-size: 15px;
  vertical-align: top;
  position: relative;
  bottom: 30px;
  height: 25px;
}

/* ========Phone======== */

@media (max-width: 600px) {
  #LoginMain #OfficeLoginButton {
    width: 90vw;
    font-size: 18px;
    height: 60px;
  }

  #header {
    padding-right: 25%;
  }

  #header #Title {
    font-size: 25px;
  }

  #header #Logo {
    height: 45px;
    margin-right: 20px;
  }

  #header #LogoutButton {
    height: 30px;
  }
}
